<html>
    <head>
        <title>
            Mi primera pagina HTML ^^
        </title>
    </head>
    <body>
        <p>
            Este es un primer bloque:
            <br>
            {{ person }}
        <hr>
        <a href="https://www.konradlorenz.edu.co/" target="_blank"> Ir a la universidad </a>

        <table>
            <tr>
                <td>ID</td>
                <td>Nombres</td>
                <td>Apellidos</td>
                <td>Codigo</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Esteban</td>
                <td>Quito</td>
                <td>12345</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alan</td>
                <td>Brito</td>
                <td>6789</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Luz</td>
                <td>Roja</td>
                <td>101112</td>
            </tr>
        </table>

    </body>
</html>